.delete-button{
    width: 100%;
    border: none;
    background-color: rgb(244, 69, 69);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    color: wheat;
}