.banner-container{
    background-color: rgb(250, 246, 246);
}
.banner{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}